.topo{
    margin-top: 40px;
}

.botaoprojeto{
    background:linear-gradient(rgb(0, 140, 255),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
}

.projetocad{
    background-color: rgb(160, 159, 162) !important;
}

.centro {
    justify-content: center;
}