.topo{
    margin-top: 40px;
}

.botaogrupo{
    background:linear-gradient(rgb(0, 140, 255),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
}

.grupocad{
    background-color: rgb(160, 159, 162) !important;
}